nav{
    height: 50px;
    width: 100%;
    background-color: rgb(29, 126, 42);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    color: yellow;
    text-decoration: none;


}
*{
    margin: 0;
}
#nav2{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
#div2{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
#nav3{
    height: 50px;
    width: 100%;
    background-color: rgb(29, 126, 42);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav3>div{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#card{
    height: 550px;
    width: 550px;
    background-color: bisque;
}
#card>img{
    margin: 30px 50px 0 130px;
    height: 200px;
    width: 300px;
}
#card>p{
    margin: 20px 20px 0 20px;
    text-align: justify;
}
#card>h1{
    text-align: center;
}
#card>button{
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(29, 126, 42);
    color: white;
    border: none;
    border-radius: 5px;
    
}


