header{
    position:fixed;
    top: 0px;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
}
*{
    margin: 0;
}
nav>div:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}
nav>div>input{
    padding: 7px;
    border-radius: 30px;
    border: none;
}
nav>div>img{
    border-radius: 50%;
}
main{
    height: 700px;
    width: 100vw;
    background-color: aqua;
    position: relative;
    top: 50px;
}
main>div{
    height: 500px;
    width: 80vw;
    background-color:chartreuse;
    position: relative;
    top:50px;
    left: 100px;
    background-image: url("https://i.pinimg.com/originals/1d/3a/c3/1d3ac3ec39a2fdf563c80df39197de47.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
   
}