nav{
    display: flex;
    height: 50px;
    background-color: chartreuse;
    justify-content: space-around;
    align-items: center;
}
nav>#div4{
   height: 25px;
   width: 250px;
}
nav>#div4>input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

nav>div>#div4>#input1{
   width: 350px;      
    height: 40px;      
    font-size: 18px;   
    padding: 8px; 
}
nav>div>#div5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: none;
}

#img6{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
img{
    width: 100px;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    align-items: center;
}
nav>#div5{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
nav>#div5>a{
    text-decoration: none;
}
#div6{
    width: 100vw;
    height: 200px;
    background-color: chocolate;
    display: flex;
    align-items: center;
}
#div6>img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}