
#nav1{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(48, 223, 223);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc-u0Tr2mU-zmqu_TKCI2g5qRMp0zMJgiEMg&s");
}
body>div>div:nth-child(1)>input{
    width: 600px;
    height: 40px;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
    box-shadow: 2px 2px 2px black;
}
body>div>div:nth-child(2){
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(50, 50, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    right: 0px;
}
body>div>div:nth-child(2)>i{
    font-size: 20px;
    width: 100px;
}
body>div>

#main1>div:nth-child(1)>div:nth-child(1){

}
